* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 Helvetica, Arial, sans-serif;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -1px 8px #2c3e50c7;
  z-index: 9999;
}
.inner {
  width: 86%;
  height: 70px;
  margin: 0 auto;
}
.header .logo {
  height: 70px;
  margin-left: 10px;
  font-size: 28px;
  font-weight: 700;
  line-height: 70px;
  color: #000;
}
.header .nav {
  float: right;
}
.header .nav .nav-bar {
  height: 70px;
}
.header .nav .nav-bar a {
  position: relative;
  margin: 0 16px;
  line-height: 70px;
  font-size: 16px;
  color: #2c3e50;
}
.header .nav .nav-bar a::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: none;
  transition: width ease-in 0.3s;
}
.header .nav .nav-bar .current {
  color: #30a0cc;
}
.header .nav .nav-bar .current::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #30a0cc;
}
.header .nav .nav-bar a:hover {
  color: #30a0cc;
}

/* 背景 */
.wrapper {
  width: 100%;
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
.wrapper::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper-1::after {
  position: absolute;
  opacity: 1;
}
.wrapper-1::after {
  background: url(../images/bg1.jpg) no-repeat center;
  background-size: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* 主体内容 */
.wrapper .content {
  /* top: 70px; */
  position: relative;
  font-size: 26px;
}
.wrapper .content > h4 {
  display: inline-block;
  position: relative;
  font-size: 30px;
}
.wrapper .content .unvisited::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 10%;
  height: 100%;
  width: 0;
  border-bottom: 4px solid #30a0cc;
  animation-name: borderAnime;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.wrapper .content .visited::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 10%;
  height: 100%;
  width: 80%;
  border-bottom: 4px solid #30a0cc;
}
.wrapper .content > p {
  margin: 50px 0 30px 0;
  font-size: 18px;
}
@keyframes borderAnime {
  0% {
    width: 0%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 80%;
  }
}

/* 首页 */
.wrapper-1 .content {
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  text-align: center;
  z-index: 999;
}
.wrapper-1 .content h3 {
  font-size: 50px;
}
.wrapper-1 .content p {
  font-size: 30px;
  margin: 15px 0;
}
.wrapper-1 .content a {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
}
/* 关于我们 */
.wrapper-2 .content {
  top: 15%;
  bottom: 0;
  width: 100%;
  min-width: 980px;
  text-align: center;
}
.wrapper-2 .content ul {
  display: flex;
  width: 70%;
  height: 500px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper-2 .content ul li {
  position: relative;
  box-sizing: border-box;
  width: 30%;
  min-width: 305px;
  height: 200px;
  margin: 0 10px 20px 10px;
  padding-left: 88px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #f0f0f0;
  text-align: left;
}
.wrapper-2 .content ul li span {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 50px;
  height: 50px;
}
/* 30A0CC */
.wrapper-2 .content ul li h5 {
  margin-top: 30px;
}
.wrapper-2 .content ul li p {
  margin: 42px 30px 0 0;
  font-size: 16px;
  color: #8a8a8a;
}
/* 合作案例 */
.wrapper-3 .content {
  top: 15%;
  bottom: 0;
  width: 100%;
  height: 500px;
  text-align: center;
}
.wrapper-3 .content .select {
  margin: 50px auto;
  text-align: center;
}
.wrapper-3 .content .select li {
  display: inline;
}
.wrapper-3 .content .select li a {
  padding: 6px 10px;
  margin: 0 10px;
  border-radius: 4px;
  background-color: #e4e1e2;
  font-size: 14px;
  color: #808282;
}
.wrapper-3 .content .select .current {
  background-color: #30a0cc;
  color: #ffffff;
}
.wrapper-3 .content .select-content {
  display: flex;
  width: 76%;
  margin: 0 auto;
  flex-wrap: wrap;
  /* align-items: center; */
}
.wrapper-3 .content .select-content li {
  width: 25%;
}
.wrapper-3 .content .select-content li img {
  vertical-align: middle;
  width: 100%;
}

/* 服务细节 */
.wrapper-4 .content {
  top: 15%;
  text-align: center;
}
.wrapper-4 .content ul {
  display: flex;
  width: 70%;
  height: 500px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper-4 .content ul li {
  position: relative;
  box-sizing: border-box;
  width: 30%;
  min-width: 305px;
  height: 200px;
  margin: 0 10px 20px 10px;
  padding-left: 88px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #f0f0f0;
  text-align: left;
}
.wrapper-4 .content ul li span {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
}
.wrapper-4 .content ul li h5 {
  margin-top: 30px;
}
.wrapper-4 .content ul li p {
  margin: 42px 30px 0 0;
  font-size: 16px;
  color: #8a8a8a;
}

/* 团队成员 */
.wrapper-5 .content {
  top: 15%;
  text-align: center;
}
.wrapper-5 .content ul {
  display: flex;
  width: 70%;
  height: 500px;
  margin: 60px auto 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper-5 .content ul li {
  position: relative;
  box-sizing: border-box;
  width: 240px;
  height: 360px;
  margin: 0 2px 20px 2px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #f0f0f0;
  text-align: center;
  transition: all ease 0.4s;
}
.wrapper-5 .content ul li div {
  width: 100%;
  height: 260px;
}
.wrapper-5 .content ul li:hover {
  transform: scale(1.12) translate3d(0, 0, 0);
}
.wrapper-5 .content ul li:nth-child(1) div {
  background: url(../images/Tom.jpg) no-repeat center;
  background-size: cover;
}
.wrapper-5 .content ul li:nth-child(2) div {
  background: url(../images/Marry.jpg) no-repeat center;
  background-size: cover;
}
.wrapper-5 .content ul li:nth-child(3) div {
  background: url(../images/Jerry.jpg) no-repeat center;
  background-size: cover;
}
.wrapper-5 .content ul li:nth-child(4) div {
  background: url(../images/Lisa.jpg) no-repeat center;
  background-size: cover;
}
.wrapper-5 .content ul li span {
  display: block;
  font-size: 16px;
  margin: 4px 0;
  transform: translate3d(0, 0, 0);
}
.wrapper-5 .content ul li span a {
  margin: 5px;
  padding: 4px;
}
.wrapper-5 .content ul li span a {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.wrapper-5 .content ul li span a:nth-child(1) {
  background: url(../images/新浪.png) no-repeat center;
  background-size: contain;
}
.wrapper-5 .content ul li span a:nth-child(3) {
  background: url(../images/github.png) no-repeat center;
  background-size: contain;
}
.wrapper-5 .content ul li span a:nth-child(2) {
  background: url(../images/推特.png) no-repeat center;
  background-size: contain;
}
/* 公司动态 */
.wrapper-6 .content {
  height: 100vh;
  top: 15%;
  text-align: center;
  margin-bottom: 80px;
}
.wrapper-6 .content .history {
  position: relative;
  width: 50%;
  min-width: 628px;
  margin: 0 auto 0;
}
.wrapper-6 .content .history::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: black;
}
.wrapper-6 .content .history .item {
  display: flex;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
}
.wrapper-6 .content .history .item .text {
  flex: 2;
  background-color: #61baf1;
  border-radius: 25px;
}
.wrapper-6 .content .history .item .text h6 {
  margin: 15px 0 0;
}
.wrapper-6 .content .history .item .text p {
  margin: 10px;
}
.wrapper-6 .content .history .item p {
  font-size: 16px;
}
.wrapper-6 .content .history .item .time {
  flex: 1;
  font-size: 20px;
  z-index: 99;
}
.wrapper-6 .content .history .item .time span {
  padding: 10px;
  background-color: #18273e;
  border-radius: 2px;
  color: #fff;
}
.wrapper-6 .content .history .item .none {
  flex: 2;
}
/* footer */
.footer {
  width: 100%;
  height: 280px;
  background-color: black;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  padding: 0 80px;
  position: relative;
}

.contact-us {
  /* justify-self: start; */
}

/* 侧边导航圆点 */
.dot-bar {
  position: fixed;
  top: 50%;
  right: 6%;
  width: 30px;
  transform: translateY(-50%);
  z-index: 5599;
}

.dot-bar i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 20px 0;
}
.dot-bar i::before {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #167ba3;
  transform: translate(-50%);
}

.dot-bar i::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  content: '';
  top: 13px;
  left: 13px;
  width: 0;
  height: 0;
  border: none;
  border-radius: 50%;
  transition: all linear 0.3s;
}

.dot-bar .current::after {
  top: -3px;
  left: 2px;
  width: 26px;
  height: 26px;
  border: 2px solid #167ba3;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 25px;
  }
  .header {
    position: relative;
  }
  .header .logo {
    text-align: center;
  }
  .header .nav {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 25px;
  }
}
